<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @host.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @host.body %>
</p>

<%= link_to 'Edit', edit_host_path(@host) %> |
<%= link_to 'Back', hosts_path %>
